html {
    overflow-x: hidden;
}
body {
    font-size: 17px;
    margin: 0;
    font-family: "PT Serif", serif;
    color: #333;
}
p {
    color: #333;
}
a {
    color: #ec245e;
    text-decoration: none;
}
a:hover {
    color: #ec245e;
    text-decoration: underline;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "PT Serif", serif;
    font-weight: 400;
}
.w3-row-padding img {
    margin-bottom: 12px
}
/* Set the width of the sidebar to 120px */
.sidebar {
    position: sticky; position: -webkit-sticky; /* Safari */
    top: 0;
    float: right;
    width: 80px;
    background: transparent;
    z-index: 100;
}
.w3-container {
    padding: 0;
}

.prerequisites-panel {
    background-color: #f1f1f1;
    padding: 15px;
}
.prerequisites-panel h4 {
    padding: 0;
}

.full-width {
    margin-top: 30px;
    margin-bottom: 30px;
    /* margin-left: calc(50% - 50vw);
    width: 100vw; */
}
.full-width p {
    text-align: center;
    margin: 10px 30px;
    font-size: 80%;
    font-style: italic;
}

iframe {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.banner-container {
    position: relative;
    height: 100vh;
}
.banner-iframe {
    width: 100%;
    height: 100vh;
    padding: 0;
}
.banner-text {
    margin: auto auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 10vh;
    font-size: 120%;
    pointer-events: none; /* So that we can interact with the canvas below */
}

.nav-item {
    float: left;
    display: table-cell;
    width: 50%;
}
button.nav-item {
    border: none;
    border-top:0.3em solid black;
    background-color: "white";
}
button {
    cursor: pointer;
    border: 0.2em solid black;
    padding:1em 3em;
    font-family:sans-serif;
    font-weight:800;
    color:black;
    text-align:center;
    transition: all 0.15s;
    background: greenyellow;
}
button:hover{
    color:rgba(50,50,50,0.7);
    border-color:rgba(50,50,50,0.7);
}
button:active{
    color:rgba(50,50,50,0.7);
    border-color:rgba(50,50,50,0.7);
}
button:focus {
    outline:0;
}


.fa {
    color: #ec245e;
}
footer.content {
    /* max-width: 980px;
    margin: auto;
    padding-top: 64px; */
    padding-bottom: 32px;
}
footer p {
    color: #555;
    font-size: 80%;
}

/* Borrowed styles */
/* W3.CSS 4.10 February 2018 by Jan Egil and Borge Refsnes */
.center {
    text-align: center!important;
    width: auto;
}
.jumbo {
    font-size: 220%;
    color:#000;
}
.content {
    max-width: 900px;
    margin: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
}
h1,h2 {
    padding-top: 64px;
    color:#3a3a3a;
}
h3,h4,h5,h6 {
    padding-top: 48px;
    color:#3a3a3a;
}
hr {
    border: 0;
    border-top: 2px solid #ddd;
    margin: 20px 0;
}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
/* END OF BORROWED STYLES */


OL { counter-reset: item }
LI { display: block }
LI:before { content: counters(item, ".") " "; counter-increment: item }

/* Collapsible */
.collapsible {
    background-color: #eee;
    /* color: white; */
    cursor: pointer;
    /* padding: 18px; */
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font: inherit;
    font-size: 140%;
    padding: 18px;
    /* margin-top: 24px; */
}
.active, .collapsible:hover {
    background-color: #ddd;
}
.collapsible:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-right: 5px;
}
.active:after {
    content: "\2212";
}
.collapsible-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #eee;
}
/* Code */
pre {
    border-left: solid 2px #ccc;
    padding-left: 18px;
    margin: 2em 0 2em -20px;
}
code {
    font-size: 90%;
}


/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0
    }
    .full-width {
        margin-left: calc(50% - 50vw);
        width: 100vw;
    }
}