html {
    overflow-x: hidden;
    font-family: "PT Serif", serif;
    font-size: 16px;
    color: rgb(25, 25, 25);
}
body {
    margin: 0;
    color: rgb(25, 25, 25);
}
a {
    color: #ec245e;
    text-decoration: none;
}
a:hover {
    color: #ec245e;
    text-decoration: underline;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "PT Serif", serif;
    font-weight: 400;
}

.content {
    max-width: 900px;
    margin: auto;
    padding-top: 3em; /* The nav bar sits in this empty space */
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
}
.content h1, .content h2 {
    padding-top: 64px;
}
.content h3 {
    padding-top: 48px;
}

.full-width {
    margin-left: calc(50% - 50vw);
    width: 100vw;
}
.sketch-container {
    margin-top: 30px;
    margin-bottom: 30px;
}
.sketch-container p {
    text-align: center;
    margin: 10px 30px;
    font-size: 80%;
    font-style: italic;
}

iframe {
    /* z-index: -1; */
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.banner-container {
    background: #FF5964;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.part-div {
    background-color: #FF5964;
    position: relative;
    height: 25vh;
}
.content .part-div {
    height: 30vh;
}
.banner-text {
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em 2em;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}
.banner-text a {
    color: white;
}
.banner-text h2 {
    padding-top: 0;
}

nav {
    display: table;
    font-family: 'Raleway', sans-serif;
    position: fixed;
    z-index: 100;
    /* font-weight: bold; */
    background: rgba(40, 40, 40, 0.9);
    width: 100%;
    height: 3em;
    padding: 0px;
    margin: 0px;
}
nav a {
    color: white;
}
nav a:hover {
    color: none;
    text-decoration: none;
}
.nav-item {
    display: table-cell;
    width: 33%;
    text-align: center;
    vertical-align: middle;
}

button.nav-item {
    border: none;
    /* border-top:0.3em solid black; */
    background-color: "white";
}
button {
    /* cursor: pointer; */
    border: 0.2em solid white;
    padding:1em 3em;
    font-family:sans-serif;
    font-weight:800;
    color:rgba(0,0,0,0.8);
    text-align:center;
    transition: all 0.15s;
    background: greenyellow;
}
button:hover{
    color:rgba(50,50,50,0.7);
}
button:active{
    color:rgba(50,50,50,0.7);
}
button:focus {
    outline:0;
}
button.iframe-open {
    background: cyan;
}
header button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}


.fa {
    color: #ec245e;
}
footer.content {
    /* max-width: 980px;
    margin: auto;
    padding-top: 64px; */
    padding-bottom: 32px;
}
footer p {
    color: #555;
    font-size: 80%;
}
.pull-quote p {
    font-size: 300%;
    color: gray;
}

/* Borrowed styles */
/* W3.CSS 4.10 February 2018 by Jan Egil and Borge Refsnes */
.center {
    text-align: center!important;
    width: auto;
}
hr {
    border: 0;
    border-top: 2px solid #ddd;
    margin: 20px 0;
}
/* END OF BORROWED STYLES */


OL { 
    counter-reset: item;
    -webkit-padding-start: 0.8em;
}
OL LI { display: block; line-height: 1.7em }
OL LI:before { content: counters(item, ".") " "; counter-increment: item; color: grey; margin-right: 1em }

/* Collapsible */
.collapsible {
    background-color: #eee;
    /* color: white; */
    cursor: pointer;
    /* padding: 18px; */
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font: inherit;
    font-size: 140%;
    padding: 18px;
    /* margin-top: 24px; */
}
.active, .collapsible:hover {
    background-color: #ddd;
}
.collapsible:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-right: 5px;
}
.active:after {
    content: "\2212";
}
.collapsible-content {
    max-width: 900px;
    margin: auto;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
}
code {
    font-size: 80%;
}
pre code {
    background: rgb(247,247,247)!important;
    border: 1px solid rgb(220,220,220);
    border-radius: 5px;
    margin: 2em 0px;
    padding: 20px!important;
    font-size: 80%;
}


/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
    .full-width {
        margin-left: calc(50% - 50vw);
        width: 100vw;
    }
    .banner-text {
        padding: 0 1em;
        overflow: hidden;
    }
}

img {
    display: block;
    margin: auto;
}