body {
    margin: 0;
}
p {
    margin: 0;
    display: table-cell;
    text-align: center;
    font-family: sans-serif;
}

button {
    border:0.16em solid rgba(0,0,0,0.7);
    font-family:sans-serif;
    font-weight:800;
    color:rgba(0,0,0,0.8);
    text-align:center;
    transition: all 0.15s;
    background: transparent;
}
button:hover{
    color:rgba(50,50,50,0.7);
    border-color:rgba(50,50,50,0.7);
}
button:active{
    color:rgba(50,50,50,0.7);
    border-color:rgba(50,50,50,0.7);
}
button:focus {
    outline:0;
}
.sketch-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding:0.5em 3em;
    border:0.16em solid rgba(255,255,255,0.8);
    font-family:sans-serif;
    font-weight:800;
    color:rgba(255,255,255,0.8);
    text-align:center;
    transition: all 0.15s;
    background: transparent;
}
.sketch-button:hover{
    color:rgba(255,255,255,1);
    border-color:rgba(255,255,255,1);
}
.sketch-button:active{
    color:rgba(255,255,255,0.8);
    border-color:rgba(255,255,255,1);
}
@media all and (max-width:30em){
    .sketch-button {
        display:block;
        margin:0.4em auto;
    }
}